#!/bin/bash
platformArray=(skydns:2015-10-13-8c72f8c \
kube2sky:1.11 \
zookeeper:3.4.8 \
redis:3.0.7 \
activiti-rest:3.0.0 \
zookeeperui:2.0.0 \
dubbo-monitor:2.8.4 \
pod-infrastructure:latest \
nginx:1.12.0 \
busybox:latest \
docker-elasticsearch-kubernetes:5.2.2_2 \
kibana:5.2.2 \
boss-status-monitor:2.0 \
)
moduleArray=(platform-cache-config:{imagetag} \
account-center-service:{imagetag} \
account-service:{imagetag} \
area-service:{imagetag} \
card-center-service:{imagetag} \
card-service:{imagetag} \
channel-service:{imagetag} \
check-service:{imagetag} \
collection-center-service:{imagetag} \
collection-service:{imagetag} \
customer-center-service:{imagetag} \
customer-service:{imagetag} \
iom-center-service:{imagetag} \
iom-service:{imagetag} \
job-service:{imagetag} \
knowledge-service:{imagetag} \
message-center-service:{imagetag} \
note-center-service:{imagetag} \
note-service:{imagetag} \
order-center-service:{imagetag} \
order-service:{imagetag} \
partner-service:{imagetag} \
pms-center-service:{imagetag} \
pms-partition-service:{imagetag} \
problem-center-service:{imagetag} \
problem-service:{imagetag} \
product-service:{imagetag} \
resource-center-service:{imagetag} \
resource-service:{imagetag} \
system-service:{imagetag} \
stariboss-callcenter_proxy:{imagetag} \
pms-frontend-conax-service:{imagetag} \
admin-billing-ui:{imagetag} \
admin-crm-ui:{imagetag} \
admin-oss-ui:{imagetag} \
admin-product-ui:{imagetag} \
admin-public-ui:{imagetag} \
customer-ui:{imagetag} \
knowledge-ui:{imagetag} \
operator-ui:{imagetag} \
partner-ui:{imagetag} \
portal-ui:{imagetag} \
resource-ui:{imagetag} \
worker-ui:{imagetag} \
api:{imagetag} \
order-job:{imagetag} \
stariboss-haiwai_proxy:{imagetag} \
agent-web:{imagetag} \
starda:{imagetag} \
pushzkconfig:{imagetag} \
)
