#!/bin/bash
platformArray=(activiti-rest:4.0.0 \
busybox:latest \
docker-elasticsearch-kubernetes:5.2.2_2 \
dubbo-monitor:2.8.4 \
skydns:2015-10-13-8c72f8c \
kibana:5.2.2 \
kube2sky:1.11 \
nginx-http2:1.11.5 \
pod-infrastructure:latest \
redis:3.0.7 \
spark:2.1.0 \
zookeeper:3.4.8_500 \
zkui:2.0 \
rabbitmq3.6.10_delay_message:latest \
)

billingArray=(spark-billing:{imagetag} \
order-job:{imagetag} \
billing:{imagetag} \
spark-jobserver-yarn:{imagetag} \
)

bossArray=(account-center-service:{imagetag} \
account-service:{imagetag} \
admin-billing-ui:{imagetag} \
admin-crm-ui:{imagetag} \
admin-oss-ui:{imagetag} \
admin-product-ui:{imagetag} \
admin-public-ui:{imagetag} \
agent-web:{imagetag} \
api:{imagetag} \
area-service:{imagetag} \
boss-status-monitor:3.0 \
card-center-service:{imagetag} \
card-service:{imagetag} \
channel-service:{imagetag} \
check-service:{imagetag} \
collection-center-service:{imagetag} \
collection-service:{imagetag} \
customer-center-service:{imagetag} \
customer-service:{imagetag} \
customer-ui:{imagetag} \
iom-center-service:{imagetag} \
iom-service:{imagetag} \
job-service:{imagetag} \
knowledge-service:{imagetag} \
knowledge-ui:{imagetag} \
message-center-service:{imagetag} \
note-center-service:{imagetag} \
note-service:{imagetag} \
operator-service:{imagetag} \
operator-ui:{imagetag} \
order-center-service:{imagetag} \
order-service:{imagetag} \
partner-service:{imagetag} \
partner-ui:{imagetag} \
platform-cache-config:{imagetag} \
pms-center-service:{imagetag} \
pms-frontend-conax-service:{imagetag} \
pms-frontend-ott-service:{imagetag} \
pms-partition-service:{imagetag} \
pushzkconfig:{imagetag} \
portal-ui:{imagetag} \
problem-center-service:{imagetag} \
problem-service:{imagetag} \
product-service:{imagetag} \
resource-center-service:{imagetag} \
resource-service:{imagetag} \
resource-ui:{imagetag} \
starda:{imagetag} \
stariboss-callcenter_proxy:{imagetag} \
stariboss-haiwai_proxy:{imagetag} \
system-service:{imagetag} \
worker-ui:{imagetag} \
)
